fastapi
uvicorn
python-dotenv
httpx
langchain
langchain-openai
langchain-community
tiktoken
beautifulsoup4
pandas
chromadb
PyPDF2
sentence-transformers
openpyxl
requests
duckduckgo-search
requests>=2.31.0
urllib3>=2.0.7
certifi
supabase